@import "common/_variables";

.anchorPoint {
  margin-bottom: 45px;
}
.banner_section {
  min-height: 480px;
  position: relative;
  display: flex;
  height: 70vh;
  overflow: hidden;
  cursor: grab;

  img {
    width: auto;
    margin: 0 0 0 auto;
    max-width: 100%;
    object-fit: cover;
    display: block;
    height: 70vh;
  }

  .banner {
    padding: 0 0 0 100px;
    color: #ffffff;
    width: 50%;
    height: 100%;
    background: #eae9e9;
    display: flex;
    align-items: center;
    position: absolute;

    @media screen and (max-width:1400px) {
      max-width: 390px;
      width: 100%;
    }

    @media screen and (max-width:$ipad) {
      padding: 0 0 0 35px
    }

    @media screen and (max-width:$min-tab) {
      background: transparent;
      max-width: 100%;
      padding: 0;
    }

    @media screen and (max-width:$mob) {
      padding: 0 15px 80px;
    }

    &:after {
      content: '';
      position: absolute;
      width: 280px;
      height: 200%;
      background: #eae9e9;
      right: -168px;
      transform: rotate(20deg);
      z-index: 1;
      color: #323232;

      @media screen and (max-width:$ipad) {
        transform: rotate(10deg);
      }

      @media screen and (max-width:$min-tab) {
        display: none;
      }

    }

    .home_content {
      position: relative;
      z-index: 5;
      margin-right: -140px;
      max-width: 500px;
      left: 30%;

      @media screen and (max-width:1400px) {
        left: 0;
      }

      @media screen and (max-width:$min-tab) {
        margin-right: 0px;
        background: rgba(#ffffff, 0.8);
        padding: 15px;
        border-radius: 8px;
        margin: 0 auto;
      }

      h1 {
        font-size: 32px;
        margin: 0 0 25px;
        color: #323232;
        font-family: 'Roboto Slab';

        @media screen and (max-width:$min-tab) {
          font-size: 18px;
          margin: 0 0 10px;
        }

      }

      p {
        color: #323232;
        margin: 0 0 30px;

        @media screen and (max-width:$mob) {
          margin-bottom: 0;
        }

      }

    }

  }

}

.service_section {
  margin: -100px 0 0 0;
  position: relative;
  z-index: 2;

  .user {
    padding: 20px;
    text-align: center;
    border-bottom: 20px solid rgba($black, 0.2);
    transition: all 200ms ease-in;

    @media screen and (max-width:$min-tab) {
      padding: 10px;
    }

    &:hover {
      background: $black-32 !important;
    }

    img {
      max-width: 50px;
      width: 100%;

      @media screen and (max-width:$min-tab) {
        max-width: 50px;
      }

    }

    &.green_one {
      background: $green-li;
    }

    &.green_two {
      background: $green-hv;
    }

    &.green_three {
      background: $green;
    }

    .btn {
      border-radius: 40px !important;
      padding: 8px 25px;
      border: none;
      font-size: 16px;

      &:hover {
        background: $green !important;
        color: $white;
        box-shadow: 0 0 20px rgba($black, 0.25)
      }

    }

    h2 {
      font-size: 20px;
      font-family: $font-bk;
      color: $white;
      text-transform: uppercase;
      margin: 10px 0;

      @media screen and (max-width:$tab) {
        margin: 8px 0;
        font-size: 14px;
      }

    }

  }

}
