@import "common/_variables";

.testimonials {
  padding: 20px 0 50px;
  @media screen and (max-width:$tab) {
    padding: 90px 0 25px;
  }
  h2 {
    color: $black-32;
    text-align: center;
    margin-bottom: 45px;
    font-size: 32px;
    font-family: 'Roboto Slab';
    font-weight: 600;
  }
  .video {
    position: relative;
    z-index: 7;

    img {
      width: 100%;
    }

  }
  .videoHome {
      border: 1px solid #bac866;
      border-radius: 6px;
      max-height: 296px;
  }

  .border-div {
    margin: 210px 0 0 -50px;
    padding: 40px 30px 40px 80px;
    border: 1px solid $green;
    position: relative;
    z-index: 0;

    @media screen and (max-width:$tab) {
      margin: 100px 0 0 -50px;
    }

    @media screen and (max-width:$min-tab) {
      margin: 40px 0 0 0;
      padding: 35px;
      min-height: auto;
    }

    .content_test {
      // min-height: 150px;
      // display: flex;
      align-items: center;

      @media screen and (max-width:$min-tab) {
        min-height: auto;
      }

    }

    &:after {
      content: "";
      height: 30px;
      width: 30px;
      left: -16px;
      bottom: 22px;
      border-left: 1px solid $green;
      border-bottom: 1px solid $green;
      position: absolute;
      transform: rotate(45deg);
      background: $white;

      @media screen and (max-width:$min-tab) {
        transform: rotate(135deg);
        bottom: auto;
        top: -16px;
        left: 110px;
      }

    }

    .tns-nav {
      display: flex;
      justify-content: center;
      height: 12px;
      button {
        width: 12px;
        height: 12px;
        border: none;
        background-color: #d6d6d6;
        border-radius: 50%;
        margin: 3px;
        &.tns-nav-active {
          background-color: #869791;
        }
      }
    }

    .cama_img {
      margin-bottom: 15px;

      img {
        max-width: 34px;
      }

    }

    .pro_img {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

    }

  }

}
.got-it {
  padding: 50px 0;
  text-align: center;
  background: $w-f5;
  @media screen and (max-width:$tab){
    padding: 20px 0 30px 0;
  }

  .have_got {
    max-width: 850px;
    margin: 0 auto;

    h2 {
      color: $black-32;
      text-align: center;
      margin-bottom: 45px;
      font-size: 32px;
      line-height: 32px;
      font-weight: 600;
      font-family: 'Roboto Slab';
    }

    p {
      margin: 0 0 20px;
    }

    .green-btn {
      color: $white;
      background: $green;
      border-radius: 40px !important;
      padding: 10px 25px;
      border: none;
      font-size: 16px;
      &:hover {
        cursor: pointer;
        background: $black-32;
        color: $white;
      }

    }

  }

}
.our_clients {
  padding: 60px 0;
  background: #efefef;
  @media screen and (max-width:$tab){
    padding: 45px 0;
  }

  h2 {
    color: $black-32;
    text-align: center;
    margin-bottom: 45px;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Roboto Slab';
  }

  .icon_hiw {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    overflow: hidden;

    &.logo {
      max-width: 250px;
      margin: 15px;
      img {
        width: 100%;
        display: block;
      }
    }

  }

  .tns-controls {
    height: 35px;
    display: flex;
    justify-content: center;

    button {
      background: #000;
      padding: 0px;
      height: 35px;
      width: 35px;
      font-size: 30px;
      color: #fff;
      line-height: 0;
      border: none;
      margin: 10px;
      border-radius: 3px;

      &:hover {
        background: #bac866;
      }

    }
  }

}
