@import "common/_variables";

.booking {
	min-height: 100vh;
	background-size: cover;
	display: flex;
	align-items: center;

	.container {
		padding: 40px 15px;

		.booking-content {
			h2 {
				font-size: 36px;

				@media screen and (max-width:$min-tab) {
					text-align: center;
					font-size: 28px
				}

				@media screen and (max-width:$mob) {
					font-size: 20px
				}

			}

		}

	}

	.booking_prefer {
		width: 100%;
		height: auto;
		background-color: $white;
		padding: 30px;
		border-radius: 10px;
		margin: 0 0 0 auto;
		max-width: 450px;
		position: relative;
		overflow: hidden;

		@media screen and (max-width:$min-tab) {
			margin: 0 auto;
		}

		.border-bottom {
			margin: 0 -30px;
			padding: 0 30px;
		}

		h4 {
			max-width: 420px;
			font-size: 20px;
      font-weight: 700;
		}

		.step_form {
			// min-height: 200px;

			form {
				margin-bottom: 15px;
			}

			.btn {
				background: $green;
				padding: 8px 15px;
				border: none;
				color: $white;

				&.btn-f-prev {
					margin-right: 10px;
					background: rgba($black, 0.14);
					color: $black;
				}

			}

		}

		.booking_msg {
			width: 100%;
			background: $green;
			border-radius: 5px;
			padding: 12px;
			display: flex;

			.msg {
				width: 55px;
				border-radius: 50%;
				overflow: hidden;
				min-width: 55px;
				height: 55px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}

			}

			p {
				margin: auto;
				padding-left: 10px;
			}

		}

	}

}
