@import "common/_variables";

.our_team {
  padding: 20px 0;
  @media screen and (max-width: $desktop-main) {
    padding: 70px 0 20px 0;
  }

  h2 {
    color: $black-32;
    text-align: center;
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Roboto Slab';
  }

  p {
    text-align: center;
  }
  .professionals_slider {
    padding-bottom: 15px;
    padding-top: 20px;
  }
  .tns-nav {
    display: flex;
    justify-content: center;
    height: 12px;
    button {
      width: 12px;
      height: 12px;
      border: none;
      background-color: #d6d6d6;
      border-radius: 50% !important;
      margin: 3px;
      &.tns-nav-active {
        background-color: #869791;
      }
    }
  }
  .how-box {
    overflow: hidden;
    text-align: left;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.22);
    position: relative;

    h4 {
      font-size: 16px;
      font-family: $font-md;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 17px;
      margin: 0;
      margin-bottom: 10px;
      font-weight: normal;

      @media screen and (max-width:767px) {
        font-size: 14px;
      }

    }

    .icon_hiw {
      max-height: 280px;
      overflow: hidden;
      min-height: 280px;

      @media screen and (max-width: 1700px) {
        max-height: 240px;
        min-height: 240px;
      }

      @media screen and (max-width: $desktop-main) {
        max-height: 200px;
        min-height: 200px;
      }

      @media screen and (max-width: 1250px) {
        max-height: 180px;
        min-height: 180px;
      }

      @media screen and (max-width: 991px) {
        max-height: 175px;
        min-height: 175px;
      }

      @media screen and (max-width: $min-tab) {
        max-height: 210px;
        min-height: 210px;
      }

      img {
        width: 100%;
        min-height: 100%;
      }

    }

    p {
      margin: 0;
      text-align: left;
      color: $green;

      .rating {
        margin-left: 5px;
      }
      span {
        color: $black-32;
      }

    }

  }

}
